html{
	height: 100%;
	width: 100%;
	font-size: 625%;
}
body{
  font: 0.16rem/1.5 "Microsoft Yahei",Arial;
}
.full{
	width: 100%;
	height: 100%;
}
.f0{
	font-size:0;
}
.f16{
	font-size: 0.16rem;
}
.fl {
	float: left;
}
.fr{
	float:right;
}
.inb{
	display:inline-block;
}

